.mobile-nav {
  position: absolute;
  left: 0;
  top: 6rem;
  width: 100vw;
  z-index: 10;
  background-color: white;

  @media (min-width: 1200px) {
    display: none;
  }

  @media (max-width: 800px) {
    top: 4rem;
  }
}

.dark-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 5;
  background-color: black;

  @media (min-width: 1200px) {
    display: none;
  }
}
